RewriteEngine on

#Remove single php extensions
#RewriteRule ^index$ index.php [L]

#Remove all php extensions

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

# RewriteRule ^(.*)$ index.php

RewriteRule ^invest/([0-9]+)$ invest.php?inv=$1 [NC]

RewriteRule ^verify/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ verify.php?verify=$1&inv=$2&amt=$3 [NC]

RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Error_display
# php_flag display_startup_errors off
# php_flag display_errors on

# Error 
# ErrorDocument 404 /404.php
# rrorDocument 400 /400.php
# ErrorDocument 401 /401.php
# ErrorDocument 403 /403.php
# ErrorDocument 500 /500.php